<section class="section hero-about min-vh-100 w-100 d-flex align-items-center text-white">
    <div class="hero-img z-0"></div>
    <div class="overlay d-block d-lg-none"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="hero-content position-relative text-lg-start text-center z-2">
                    <h1 class="text-white fw-normal rounded-4 mb-3">Our <span
                            class="display-3 fw-medium text-primary">Vision</span>
                        & <span class="display-3 fw-medium text-primary ps-lg-5 ps-0">Philosophy</span>
                    </h1>
                    <h3 class="text-white  fw-normal rounded-4 mb-4">The
                        Best Choice For Your Home Interior
                    </h3>
                    <p class="lead text-white mb-5">We believe great design blends beauty and purpose.Our vision is
                        to craft interiors that feel timeless, functional,
                        and
                        uniquely yours—spaces
                        that elevate everyday living with thoughtful detail and enduring style.</p>
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="images/home_2/img-5.jpg" alt="heroimg" class="img-fluid rounded-3 left-img">
                        </div>
                        <div class="col-6">
                            <img src="images/home_2/img-4.jpg" alt="heroimg"
                                class="img-fluid mb-4 rounded-3 right-img">
                            <img src="images/blog/img-3.jpg" alt="heroimg" class="img-fluid rounded-3 right-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>