
<section class="overflow-hidden py-4 bg-light" id="newsletter">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-12 order-lg-1 order-2">
                <h2 class="fw-bold text-dark">Ready to transform your space?</h2>
                <p class="lead mb-4 text-muted">Stay inspired with our latest updates! From design tips to project
                    highlights, our newsletter brings you the newest ideas and insights straight to your inbox.</p>
                <form class="mb-4">
                    <textarea class="form-control bg-transparent border border-1 border-secondary-subtle" id="quotes"
                        rows="3" placeholder="ask anything..." required></textarea>
                </form>
                <div class="text-lg-start text-center">
                    <a href="#contact" class="btn btn-dark">Get a Free Quote</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-12 order-lg-2 order-1">
                <img src="images/ctaimg.png" alt="ctaimg" class="img-fluid">
            </div>
        </div>
    </div>
</section>