<section class="section bg-primary-1" id="fetures">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 mb-4">
                    <div class="text-center header-content">
                        <h2 class="display-5 fw-bold mb-3 text-dark">Why Choose Us?</h2>
                        <p class="lead text-muted mb-0">We're committed to delivering exceptional results,ensuring
                            every project exceeds your expectations.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card fetures-card bg-transparent border-0 h-100">
                        <div class="card-body text-center">
                            <span
                                class="border border-2 border-dark rounded-circle px-2 py-1 fs-2 text-dark feture-icon"><i
                                    class="fa-solid fa-users-line"></i></span>
                            <h4 class="mt-4 text-uppercase text-primary">expertise & collaboration</h4>
                            <p class="text-muted lead">Our expertise lies in blending design innovation with technical
                                precision. Through close collaboration with clients, architects, and craftsmen, we
                                ensure every detail aligns with your vision and lifestyle.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card fetures-card bg-transparent border-0 h-100">
                        <div class="card-body text-center">
                            <span
                                class="border border-2 border-dark rounded-circle px-2 py-1 fs-2 text-dark feture-icon"><i
                                    class="fa-solid fa-star"></i></span>
                            <h4 class="mt-4 text-uppercase text-primary">seamless experience & quality</h4>
                            <p class="text-muted lead">Experience interiors crafted with perfection and ease. Our
                                streamlined process and dedication to quality craftsmanship ensure your project flows
                                smoothly from start to finish.Experience interiors crafted with perfection and ease.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card fetures-card bg-transparent border-0 h-100">
                        <div class="card-body text-center">
                            <span
                                class="border border-2 border-dark rounded-circle px-2 py-1 fs-2 text-dark feture-icon"><i
                                    class="fa-solid fa-layer-group"></i></span>
                            <h4 class="mt-4 text-uppercase text-primary">End-to-End Execution</h4>
                            <p class="text-muted lead">From the first idea to the final finish, we make your design
                                journey effortless. Every detail is handled with precision and care, ensuring
                                exceptional quality and a smooth, stress-free experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
