<footer class="bg-secondary text-white pt-5 pb-4">
    <div class="container">
        <div class="row g-4">
            <!-- About Column -->
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="mb-4">
                    <img src="images/logo/logo-light.png" alt="Logo" height="40" class="mb-3">
                    <p class="text-white-50">Your happiness is at the core of what we do. Every detail and design choice
                        reflects your lifestyle. We measure success not just in style, but in the smiles of clients who
                        feel at
                        home in the spaces we've created.</p>
                </div>
                <div>
                    <h6 class="text-uppercase mb-3 text-light">Connect With Us</h6>
                    <div class="d-flex align-items-center social-media gap-3">
                        <a href="https://twitter.com" target="_blank">
                            <div class="icon-back">
                                <i class="fab fa-x-twitter"></i>
                            </div>
                        </a>
                        <a href="https://facebook.com" target="_blank">
                            <div class="icon-back">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                        </a>
                        <a href="https://instagram.com" target="_blank">
                            <div class="icon-back">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </a>
                        <a href="https://linkedin.com" target="_blank">
                            <div class="icon-back">
                                <i class="fab fa-linkedin-in"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Quick Links -->
            <div class="col-md-3 col-lg-2 col-6 mb-4 mb-md-0">
                <h5 class="text-uppercase fw-bold mb-3 text-light">Company</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#home" class="footer-link">Home</a>
                    </li>
                    <li class="mb-2">
                        <a href="#about" class="footer-link">About
                            Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="#services" class="footer-link">Services</a>
                    </li>
                    <li class="mb-2">
                        <a href="#project" class="footer-link">Projects</a>
                    </li>
                    <li class="mb-2">
                        <a href="#contact" class="footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <!-- Products & Support -->
            <div class="col-md-3 col-lg-3 col-6 mb-4 mb-md-0">
                <h5 class="text-uppercase fw-bold mb-3 text-light">Products</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#services" class="footer-link">Residential</a>
                    </li>
                    <li class="mb-2">
                        <a href="#services" class="footer-link">Commercial</a>
                    </li>
                    <li class="mb-2">
                        <a href="#services" class="footer-link">Office</a>
                    </li>
                    <li class="mb-2">
                        <a href="#contact" class="footer-link">Custom
                            Designs</a>
                    </li>
                </ul>
            </div>

            <!-- Gallery -->
            <div class="col-lg-3 col-md-6 col-12">
                <h5 class="text-uppercase fw-bold mb-4 text-md-start text-center text-light">Our Gallery</h5>
                <div class="row justify-content-center align-items-center text-center g-2">
                    <div class="col-4">
                        <a href="#" class="d-block overflow-hidden rounded-3">
                            <img src="images/footerimgs/footer-img-1.jpg" alt="Gallery 1"
                                class="img-fluid rounded-3 hover-scale transition-md">
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="d-block overflow-hidden rounded-3">
                            <img src="images/footerimgs/footer-img-2.jpg" alt="Gallery 2"
                                class="img-fluid rounded-3 hover-scale transition-md">
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="d-block overflow-hidden rounded-3">
                            <img src="images/footerimgs/footer-img-3.jpg" alt="Gallery 3"
                                class="img-fluid rounded-3 hover-scale transition-md">
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="d-block overflow-hidden rounded-3">
                            <img src="images/footerimgs/footer-img-3.jpg" alt="Gallery 4"
                                class="img-fluid rounded-3 hover-scale transition-md">
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="d-block overflow-hidden rounded-3">
                            <img src="images/footerimgs/footer-img-1.jpg" alt="Gallery 5"
                                class="img-fluid rounded-3 hover-scale transition-md">
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="d-block overflow-hidden rounded-3">
                            <img src="images/footerimgs/footer-img-2.jpg" alt="Gallery 6"
                                class="img-fluid rounded-3 hover-scale transition-md">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Copyright -->
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-start mb-3 mb-lg-0">
                <p class="mb-0 text-white-50">&copy;
                    <script>document.write(new Date().getFullYear()); </script> Mantraksh Devs. Crafted with <i
                        class="fa-solid fa-heart text-danger"></i>. All rights reserved.
                </p>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="text-white-50 text-decoration-none">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <span class="text-white-50 mx-2">|</span>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white-50 text-decoration-none">Terms of Service</a>
                    </li>
                    <li class="list-inline-item">
                        <span class="text-white-50 mx-2">|</span>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white-50 text-decoration-none">Sitemap</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>