<!-- navbar -->
<nav class="navbar fixed-top %%extraClass">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="index.html">
      <img src="images/logo/logo-light.png" alt="Logo" height="40" class="d-none d-lg-block">
      <img src="images/logo/logo-sm.png" alt="Logo" height="40" class="d-lg-none">
    </a>

    <!-- Mobile menu button -->
    <button class="navbar-toggler collapsed border-0 %%toggleExtraClass" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse %%collapseExtraClass" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item %%navItemClass">
          <a class="nav-link" aria-current="page" href="index.html" data-section="#home"><i
              class="fas fa-home me-1"></i>
            Home</a>
        </li>
        <li class="nav-item dropdown %%navItemClass">
          <a class="nav-link dropdown-toggle" href="/" data-section="#about" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-info-circle me-1"></i> About
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-center">
            <li><a class="dropdown-item" href="ourvision.html">Our Vision & Philosophy</a></li>
            <li><a class="dropdown-item" href="expertise.html">Expertise & Experience</a></li>
            <li><a class="dropdown-item" href="clients.html">Client-Centric Approach</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown %%navItemClass">
          <a class="nav-link dropdown-toggle" href="/" data-section="#services" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-cogs me-1"></i> Services
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-center">
            <li><a class="dropdown-item" href="services.html">Planning</a></li>
            <li><a class="dropdown-item" href="services.html">Furniture & Decor</a></li>
            <li><a class="dropdown-item" href="services.html">Lighting</a></li>
            <li><a class="dropdown-item" href="services.html">Woodwork</a></li>
            <li><a class="dropdown-item" href="services.html">Consultation</a></li>
            <li><a class="dropdown-item" href="services.html">Renovation</a></li>
          </ul>
        </li>
        <li class="nav-item %%navItemClass">
          <a class="nav-link" href="%%linkProjects" data-section="#project"><i class="fas fa-project-diagram me-1"></i>
            Projects</a>
        </li>
        <li class="nav-item %%navItemClass">
          <a class="nav-link" href="#blog" data-section="#blog"><i class="fas fa-blog me-1"></i>Blog</a>
        </li>
        <li class="nav-item %%navItemClass">
          <a class="nav-link" href="#contact" data-section="#contact"><i class="fas fa-envelope me-1"></i> Contact</a>
        </li>
      </ul>

      <!-- Social Media Icons -->
      <div class="d-flex align-items-center mt-lg-0 mt-4 justify-content-center social-media gap-3">
        <a href="https://twitter.com" target="_blank">
          <div class="icon-back">
            <i class="fab fa-x-twitter"></i>
          </div>
        </a>
        <a href="https://facebook.com" target="_blank">
          <div class="icon-back">
            <i class="fab fa-facebook-f"></i>
          </div>
        </a>
        <a href="https://instagram.com" target="_blank">
          <div class="icon-back">
            <i class="fab fa-instagram"></i>
          </div>
        </a>
        <a href="https://linkedin.com" target="_blank">
          <div class="icon-back">
            <i class="fab fa-linkedin-in"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- navbar end -->