<div class="card latest-card position-relative overflow-hidden rounded-4">
    <img src="%%img" alt="%%title" class="card-img">
    <div class="card-img-overlay"></div>
    <div class="card-content-top text-start">
        <h4 class="mb-0 text-white">%%title</h4>
        <p class="mb-0 text-white">%%category</p>
        <span class="small text-light"><i class="fas fa-ruler-combined me-1"></i> %%squerfit</span>
    </div>
    <div class="card-content-bottom text-end">
        <span class="badge rounded-pill bg-light text-primary px-3 py-2">%%stage</span>
    </div>
</div>