<section class="section bg-light" id="process">
    <div class="container">
        <!-- Section Header -->
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-12 mb-4">
                <span
                    class="badge bg-primary-1 text-primary px-3 py-2 rounded-pill mb-3 d-inline-flex align-items-center">
                    <i class="fa-brands fa-think-peaks me-2"></i> Our Process
                </span>
                <h2 class="display-5 fw-bold mb-3 text-dark">A Process You Can <span class="text-primary">Trust</span>
                </h2>
                <p class="lead text-muted mb-0">Revamping a space means blending essential design principles to craft an
                    environment that feels balanced, purposeful, and effortlessly inviting.</p>

            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-12 mb-4">
                <img src="images/processimg.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 offset-lg-1 col-12 mb-4">
                <div class="d-flex align-items-center bg-body-secondary p-4 mb-4 shadow">
                    <div class="bg-primary-1 p-2 rounded-circle me-3 process-num">
                        <h1 class="text-black opacity-50 mb-0">01</h1>
                    </div>
                    <div>
                        <h4 class="mb-1 text-primary">Vision Discovery</h4>
                        <p class="mb-0 text-muted">We start by chatting with you to uncover your style, needs, and what
                            you truly
                            want. </p>
                    </div>
                </div>
                <div class="d-flex align-items-center bg-primary-1 p-4 mb-4 shadow">
                    <div>
                        <h4 class="mb-1 text-primary">Design & Visualization</h4>
                        <p class="mb-0 text-muted">Next, we turn ideas into visuals—creating mood boards, sketches, and
                            3D
                            designs. </p>
                    </div>
                    <div class="bg-dark-1 p-2 rounded-circle ms-3 process-num">
                        <h1 class="text-primary opacity-50 mb-0">02</h1>
                    </div>
                </div>
                <div class="d-flex align-items-center bg-body-secondary p-4 shadow">
                    <div class="bg-primary-1 p-2 rounded-circle me-3 process-num">
                        <h1 class="text-black opacity-50 mb-0">03</h1>
                    </div>
                    <div>
                        <h4 class="mb-1 text-primary">Execution & Transformation</h4>
                        <p class="mb-0 text-muted">While you relax, we turn your design into a real space that feels,
                            looks, and
                            lives
                            exactly the way you imagined. </p>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <a href="#contact" class="btn btn-primary">Get in Touch <i class="fas fa-arrow-right ms-2"></i></a>
            </div>
        </div>
    </div>
</section>